*, :before, :after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
  margin: 0 auto;
  width: 940px;
  min-width: 320px;
  padding: 1rem 3rem;
}

.button {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
  outline: 0;
  border: 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  min-width: 64px;
  overflow: hidden;
  background: none;
  line-height: normal;
  font-family: "Roboto, Helvetica, Arial, sans-serif", Arial, sans-serif;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button__text {
  position: relative;
  z-index: 3;
}
.button:focus, .button:active {
  opacity: 0.8;
}
.button--default {
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
}
.button--big {
  height: 48px;
  padding: 0 24px;
  line-height: 48px;
}
.button--blue {
  background-color: #3949AB;
  color: #fff;
}

.form-group {
    margin-bottom: 16px;
}

.form-field {
  display: block;
  margin: 0 0 16px 0;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #ccc;
  -webkit-border-radius: 0;
          border-radius: 0;
  width: 100%;
  height: 32px;
  padding: 4px 0px;
  background: #fff;
  font-size: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-field:focus {
  border-bottom-color: #3949AB;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.checkbox {
  margin-bottom: 12px;
  padding-left: 32px;
  line-height: 24px;
  font-size: 0.875rem;
  position: relative;
}
.checkbox:before, .checkbox:after {
  content: "";
  position: absolute;
}
.checkbox:before {
  margin-top: -8px;
  border: 2px solid #444;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  top: 50%;
  left: 0;
}

input:checked + .checkbox:before {
  border-color: #3949AB;
  background-color: #3949AB;
}
input:checked + .checkbox:after {
  margin-top: -6px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #fff;
  width: 5px;
  height: 10px;
  top: 50%;
  left: 6px;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}

.radio {
  margin-bottom: 12px;
  padding-left: 32px;
  line-height: 24px;
  font-size: 0.875rem;
  position: relative;
}
.radio:before, .radio:after {
  content: "";
  -webkit-border-radius: 100%;
          border-radius: 100%;
  position: absolute;
  top: 50%;
}
.radio:before {
  margin-top: -8px;
  border: 1px solid #3949AB;
  width: 16px;
  height: 16px;
  background-color: #fff;
  left: 0;
}

input:checked + .radio:after {
  margin-top: -5px;
  width: 10px;
  height: 10px;
  background-color: #3949AB;
  left: 3px;
}

.select {
    margin-bottom: 16px;
    width: 160px;
    height: 32px;
}
.select[multiple] {
    height: auto;
}

.ev-notice {
  padding: 2px 0;
  color: #F44336;
  font-size: 0.75rem;
}

.ev-invalid-item {
  border-bottom-width: 2px !important;
  border-style: solid !important;
  border-color: #F44336 !important;
}

.ev-valid-item {
  border-bottom-width: 2px !important;
  border-style: solid !important;
  border-color: green !important;
}

.ev-invalid-item + label {
  color: #F44336;
}
